In [54]:
import pandas as pd
import matplotlib.pyplot as plt

In [44]:
atus1997 = pd.read_csv(r"C:\Users\carl0\OneDrive\Desktop\atus\conjunto_de_datos\atus_anual_1997.csv")
atus1998 = pd.read_csv(r"C:\Users\carl0\OneDrive\Desktop\atus\conjunto_de_datos\atus_anual_1998.csv")
atus1999 = pd.read_csv(r"C:\Users\carl0\OneDrive\Desktop\atus\conjunto_de_datos\atus_anual_1999.csv")
atus2000 = pd.read_csv(r"C:\Users\carl0\OneDrive\Desktop\atus\conjunto_de_datos\atus_anual_2000.csv")
atus2001 = pd.read_csv(r"C:\Users\carl0\OneDrive\Desktop\atus\conjunto_de_datos\atus_anual_2001.csv")
atus2002 = pd.read_csv(r"C:\Users\carl0\OneDrive\Desktop\atus\conjunto_de_datos\atus_anual_2002.csv")
atus2003 = pd.read_csv(r"C:\Users\carl0\OneDrive\Desktop\atus\conjunto_de_datos\atus_anual_2003.csv")
atus2004 = pd.read_csv(r"C:\Users\carl0\OneDrive\Desktop\atus\conjunto_de_datos\atus_anual_2004.csv")
atus2005 = pd.read_csv(r"C:\Users\carl0\OneDrive\Desktop\atus\conjunto_de_datos\atus_anual_2005.csv")
atus2006 = pd.read_csv(r"C:\Users\carl0\OneDrive\Desktop\atus\conjunto_de_datos\atus_anual_2006.csv")
atus2007 = pd.read_csv(r"C:\Users\carl0\OneDrive\Desktop\atus\conjunto_de_datos\atus_anual_2007.csv")
atus2008 = pd.read_csv(r"C:\Users\carl0\OneDrive\Desktop\atus\conjunto_de_datos\atus_anual_2008.csv")
atus2009 = pd.read_csv(r"C:\Users\carl0\OneDrive\Desktop\atus\conjunto_de_datos\atus_anual_2009.csv")
atus2010 = pd.read_csv(r"C:\Users\carl0\OneDrive\Desktop\atus\conjunto_de_datos\atus_anual_2010.csv")
atus2011 = pd.read_csv(r"C:\Users\carl0\OneDrive\Desktop\atus\conjunto_de_datos\atus_anual_2011.csv")
atus2012 = pd.read_csv(r"C:\Users\carl0\OneDrive\Desktop\atus\conjunto_de_datos\atus_anual_2012.csv")
atus2013 = pd.read_csv(r"C:\Users\carl0\OneDrive\Desktop\atus\conjunto_de_datos\atus_anual_2013.csv")
atus2014 = pd.read_csv(r"C:\Users\carl0\OneDrive\Desktop\atus\conjunto_de_datos\atus_anual_2014.csv")
atus2015 = pd.read_csv(r"C:\Users\carl0\OneDrive\Desktop\atus\conjunto_de_datos\atus_anual_2015.csv")
atus2016 = pd.read_csv(r"C:\Users\carl0\OneDrive\Desktop\atus\conjunto_de_datos\atus_anual_2016.csv")
atus2017 = pd.read_csv(r"C:\Users\carl0\OneDrive\Desktop\atus\conjunto_de_datos\atus_anual_2017.csv")
atus2018 = pd.read_csv(r"C:\Users\carl0\OneDrive\Desktop\atus\conjunto_de_datos\atus_anual_2018.csv")
atus2019 = pd.read_csv(r"C:\Users\carl0\OneDrive\Desktop\atus\conjunto_de_datos\atus_anual_2019.csv")
atus2020 = pd.read_csv(r"C:\Users\carl0\OneDrive\Desktop\atus\conjunto_de_datos\atus_anual_2020.csv")
atus2021 = pd.read_csv(r"C:\Users\carl0\OneDrive\Desktop\atus\conjunto_de_datos\atus_anual_2021.csv")
atus2022 = pd.read_csv(r"C:\Users\carl0\OneDrive\Desktop\atus\conjunto_de_datos\atus_anual_2022.csv")

1. Mostrar los tipos de accidentes por cada estado

In [62]:
accidents_by_state = atus1997.groupby(['ID_ENTIDAD', 'TIPACCID']).size().reset_index(name='count')
accidents_by_state

     ID_ENTIDAD  TIPACCID  count
0             1         0   1078
1             1         1   4402
2             1         2   5402
3             1         3    260
4             1         4     47
..          ...       ...    ...
751         559         1      1
752         560         1      1
753         565         1      7
754         565         2      4
755         570         1      1

[756 rows x 3 columns]

2. Mostrar la cantidad de accidentes por dia de la semana en Sinaloa por edad del conductor

In [70]:
# Filter the DataFrame for ID_ENTIDAD = 25
state25_data = atus2022[(atus2022['ID_ENTIDAD'] == 25) & (atus2022['ID_EDAD'] != 0)]

# Group by 'day_of_week' and 'ID_EDAD' and calculate the count
accidents_by_day_and_age = state25_data.groupby(['DIASEMANA', 'ID_EDAD']).size().reset_index(name='count')
accidents_by_day_and_age

    DIASEMANA  ID_EDAD  count
0     Domingo       13      2
1     Domingo       14      3
2     Domingo       15      8
3     Domingo       16     11
4     Domingo       17     23
..        ...      ...    ...
471     lunes       78      2
472     lunes       80      1
473     lunes       87      1
474     lunes       88      1
475     lunes       99     70

[476 rows x 3 columns]

3. Mostrar el ranking de accidentes por mes por estado en una animacion que muestre el comportamiento desde 1997 hasta 2023

4. Mostrar la cantidad de accidentes por municipio del estado de Sinaloa en los ultimos 10 años

5. Mostrar la cantidad de accidentes distinguiendo entre dias festivos, fin de semana y dia normal

Conclusión:
Por cada visualicación,¿qué pudo descubrir sobre los datos?
1. 
2. 
3. 
4. 
5.